#episode-page .podcast-heading {
  border-bottom: 1px solid #ddd;
  padding: 8px 15px 8px 10px;
  margin-bottom: 30px;
  color: #444;
  margin-top: 15px;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 8px 1px 8px 1px;
  }

  .podcast-title {
    font-size: 22px;
  }

  .podcast-time {
    color: #888;
    font-size: 15px;
  }
}
