.episode-list {

  & > div:nth-child(odd) {
    padding-left: 0;
  }

  & > div:nth-child(even) {
    padding-right: 0;
  }

  @media screen and (max-width: $breakpoint-desktop) {
    & > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Parent
.episode-list .well {
  background: white;

  @media screen and (min-width: $breakpoint-desktop) {
    height: 263px;
  }
}
