.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 12px;
  background: $footer-background-color;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 472px) {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
}

.footer .footer-copyright {
  padding: 10px 0;
}
.footer .podcast-links {
  padding-top: 15px;

  a {
    color: #999;
    font-size: 24px;
    padding: 0 8px;
    margin: 0 5px;
  }
}
